.footer {
  margin-top: 70px;

  .footer__header {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #d3d3d3;
    margin-bottom: 30px;

    .top {
      cursor: pointer;
      width: 60px;
      height: 20px;
    }
    // text #E9E9E9
  }
}
