section#boast
    div.boast__columns
        div.boast__column
            h3.boast__column--paragraph 소개
            img(src="https://via.placeholder.com/400" alt="youtubelink" class="boast__column--youtube")
        
        div.boast__column
            h3.boast__column--paragraph 리뷰
            img(src="https://via.placeholder.com/400" alt="reviewimg" class="boast__column--review")