footer.footer
    div.footer__header
        img(src="images/top_button.png" alt="top_button" class="top")
    div.footer__conlumns
        div.footer__column
            img(src="images/footer_logo.png" alt="footer_logo" class="footer__column--logo")
            p.footer__column--comment 비라이트는 물류 시스템의 미래를 선도합니다.
            p.footer__column--comment © BeLight. 2019
        
        div.footer__column
            p.footer__column--comment Follow us on
            img(src="images/facebook.png" alt="facebook" class="footer__column--fb")
            img(src="images/instagram.png" alt="instagram" class="footer__column--inst")
            img(src="images/twitter.png" alt="twitter" class="footer__column--twit")
        
        div.footer__column
            p.footer__column--comment 