doctype html
html(lang="en")
    head
        title #{title}
        link(rel="stylesheet" href="app.css")
    body
        p#message #{message}
        button#button click
        
        script(src="bundle.js")