doctype html
html(lang="ko")
    head
        title #{title}
        link(href="datepicker.css" rel="stylesheet")
        link(href="app.css" rel="stylesheet")
    body
        include header.pug
        main#contents
            include intro.pug
            include use.pug
            include boast.pug
            include cities.pug
            include customer.pug
            include price.pug
        include login.pug
        include footer.pug
        
        script(scr="datepicker.js")
        script(src="bundle.js")