section#use
    div.use__header
        h1.use__header--text 사용방법
    div.use__contents
        div.use__contents__columns
            img(src="images/step1.png" alt="step1" class="step1img stepimg")

    div.use__footer
        span.use__footer--searchBtn 짐 보관장소 찾기
