section#use
    div.use__header
        h1.use__header--text 사용방법
    div.use__contents
        div.use__contents__columns
            img(src="images/step1.png" alt="step1" class="step1img stepimg")
            img(src="images/right_arrow.png" alt="right_arrow" class="right_arrowimg arrowimg")
            img(src="images/step2.png" alt="step2" class="step2img stepimg")
            img(src="images/right_arrow.png" alt="right_arrow" class="right_arrowimg arrowimg")
            img(src="images/step3.png" alt="step3" class="step3img stepimg")
    div.use__footer
        span.use__footer--searchBtn 짐 보관장소 찾기
