section#use
    div.use__header
        h1.use__header--title 사용방법
    div.use__contents
        div.use__contents__step
            img(src="task.svg" alt="task" class="use__contentes__step--taskimg icon--lg")
            p.use__contents__step--paragraph STEP 1
            p.use__contents__step--paragraph 예약하기
        
        img(src="images/arrow.png" alt="arrow" class="use__contents--arrowimg arrow")

        div.use__contents__step
            img(src="airport.svg" alt="airport" class="use__contents__step--airportimg icon--lg")
            p.use__contents__step--paragraph STEP 2
            p.use__contents__step--paragraph 짐맡기기


        img(src="images/arrow.png" alt="arrow" class="use__contents--arrowimg arrow")

        div.use__contents__step
            img(src="paper-plane.svg" alt="paper-plane" class="use__contents__step--paper-planeimg icon--lg")
            p.use__contents__step--paragraph STEP 3
            p.use__contents__step--paragraph 가벼운 여행 시작
